<div>
  <h1>Self Chekout App</h1>
  <p class="lead">Welcome to our Self Chekout App. Please register to know more about it</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Exlopre App</h3>
    <p>Click on Explore App to get to know Unbelivable Advantage</p>
  </div>
  <div class="col-md-4">
    <h3>Search Item</h3>
    <p>You can search any item by name here.It's So Easy !</p>
  </div>
  <div class="col-md-4">
    <h3>Still Waiting for Registration</h3>
    <p>It's just one click sign up which takes you to exciting deals and savings</p>
  </div>
</div>
